body {
    height: 100vh;
    background:  linear-gradient(#009688 15%,#d8dbd5 15%, #d8dbd5);
} 


/***************************************************************  
GENERICS
***************************************************************/
.container-fluid {
    height: 90%;
    width: 95%;
    background-color: #f3eeea;
}

.fa-solid {
    cursor: pointer;
}

/***************************************************************  
USER & CONTACT PAGE
***************************************************************/

 /* Image user & notification */
.card-user,.card-notification {
    height: 10%;
}

.card-user img, .container-icon,.contact img {
    border-radius: 50%;
}

.card-notification {
    background-color: #8edafc;
}

.container-icon{
   height: 3rem;
   width: 3rem;
}

.notification-icon {
    color: #8edafc;
}


/* User search button */
.input-group{
    height: 7%;
}

/* User contacts */

.card-my-contacts {
    height: 73%;
    overflow-y: auto;
}

.contact {
    height: 12%;
    border-bottom: 1px solid #dee2e6;
    cursor: pointer;
}

.contact:hover {
    background-color: grey;
}

/***************************************************************  
CHAT PAGE
***************************************************************/
/* Chat header */
.chat-header,.chat-footer {
    height: 10%;
}

.chat-contact-info img {
    border-radius: 50%;
}


/* Chat text */
.chat-text-area {
    height: 80%;
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}

.sent,.received {
    background-color: white;
    padding: 15px 15px;
    border-radius: 15px;
    width: 30%;
    max-width: 40%;
    word-wrap: break-word;
    position: relative;
    font-size: 1.5rem;
}

.sent {
    background-color: #d5f9ba;
}

.chat-text-area time {
    font-size: 15px;
    position: absolute;
    right: 3%;
    bottom: 0%;
    color: lightgrey;
}

.sent .hidden-box-actions,.received .hidden-box-actions {
    background-color: white;
    padding: 15px 15px;
    word-wrap: break-word;
    width: 50%;
    font-size: 1.3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 94%;
    left: 50%;
    text-align: center;
    display: none;
}

.sent:active .hidden-box-actions,
.received:active .hidden-box-actions
{
    display: block;
}
