<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css' integrity='sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==' crossorigin='anonymous'/>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' integrity='sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==' crossorigin='anonymous'/>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.45/vue.global.min.js' integrity='sha512-Pdnl+dKWHA0jEnmhogUHlOw3FqDeujiEc3XQDkvMrPUAvytiU2cZiknw2xDPgDS+u2prg2n+6eKz3CPG588gTQ==' crossorigin='anonymous'></script>
  <script defer src="js/script.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body class="d-flex justify-content-center align-items-center">
  <div class="container-fluid" id="root">
    <div class="row h-100 d-flex">

      <!-- CONTACT PAGE -->
      <div class="col-4 h-100 p-0">

        <!-- IMAGE USER & OPTIONS -->
        <div class="card-user d-flex align-items-center justify-content-between p-3">       
          
          <!-- Image user -->
          <div class="h-100 d-flex align-items-center">
            <figure class="h-100 m-0">
              <img :src="`img/avatar${user.avatar}.jpg`" alt="user.name" class="img-fluid h-100">
            </figure>
            <div class="user-name">
              <h4 class="text-capitalize">{{user.name}}</h4>
            </div>
          </div>

          <!-- Option -->
          <div class=" h-100 d-flex align-items-center fs-3 gap-4 text-black-50">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>

        <!-- NOTIFICATION -->
        <div class="card-notification d-flex align-items-center gap-3">
          <div class="container-icon d-flex justify-content-center align-items-center bg-light">
            <i class="fa-solid fa-bell-slash notification-icon fs-2 text-center"></i>
          </div>
          <div class="notification-text-option d-flex flex-column">
            <strong>Ricevi notifiche di nuovi messaggi</strong>
            <a href="" class="text-secondary">Attiva notifiche desktop</a>
          </div>
        </div>

        <!-- USER CONTACTS & SEARCH CONTACT BUTTON -->
        
        <!-- Search contact button -->
        <div class="input-group p-2 ">
          <button class="btn btn-outline-secondary" type="button" id="button-addon1">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
        
        <!-- User contacts -->
        <div class="card-my-contacts bg-light p-1 border-top border-bottom">
          <div v-for="(contact,i) in contacts" class="contact d-flex p-1" @click="setCurrentIndex(i)">
              <figure class="h-100 m-0">
                <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name" class="img-fluid h-100">
              </figure>
              <div class="contact-info w-25 ms-2">
                <div class="contact-name">
                  <h4 class="text-capitalize">{{contact.name}}</h4>
                </div>
                <div class="last-message-send">
                  <span>Ultimo messaggio inviato</span>
                </div>
              </div>
              <time class=" col-8 last-message text-end ">
                <span>{{contact.messages[0].date}}</span>
              </time>
          </div>
        </div>      
      </div>

      <!-- CHAT PAGE -->
      <div class="col-8 h-100 p-0">

         <!-- Chat header -->
        <div class="chat-header d-flex justify-content-between p-2">

          <!-- info user in chat -->
          <div class="chat-contact-info h-100 d-flex align-items-center gap-3">
            <figure class="h-100 m-0">
              <img :src="`img/avatar${contacts[currentIndex].avatar}.jpg`" :alt="contacts[currentIndex].name" class="img-fluid h-100">
            </figure>
            <div class="contact-info">
              <div class="contact-name">
                <h4 class="text-capitalize">{{contacts[currentIndex].name}}</h4>
              </div>
              <div class="last-access">
                <span>Ultimo accesso   
                  <time>{{contacts[currentIndex].messages[0].date}}</time>
                </span>
              </div>
            </div>
          </div>

          <!-- Option user in chat -->
          <div class="chat-contact-option">
            <div class=" h-100 d-flex align-items-center fs-3 gap-4 pe-3 text-black-50">
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-paperclip"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
          </div>


          
          <!-- Chat text -->
        <div class="chat-text-area">

          <!-- User message -->
          <div  v-for="message in contacts[currentIndex].messages.sort(sortByDate)" :key="message.date" class="col-12 d-flex flex-column  py-4">
            <div v-if="message.status === 'sent' || message.status === 'received'" :class="[{'sent align-self-end me-5': message.status === 'sent'}, {'received align-self-stretch ms-5': message.status === 'received'}]">
             <span>{{message.text}}</span>
              <time>{{message.date}}</time>
              <div class="hidden-box-actions">
                <span>Info messaggio</span>
                <span>Cancella messaggio</span>
              </div>
            </div>
          </div>

         
        </div>
        <!-- Chat write my text -->
        <div class="chat-footer d-flex justify-content-between align-items-center">

          <!-- Emoticon icon -->
          <div class="list-icon-input text-black-50 fs-3 ps-5">
            <i class="fa-solid fa-face-smile"></i>
          </div>

          <!-- Input insert text -->
          <div class="mytext w-75 fs-4">
            <input type="text" v-model="newMessage" placeholder="Scrivi il tuo messaggio" class="rounded border-0 p-3 w-100" v-on:keyup.enter="addMessage">
          </div>

          <!-- Inpu insert vocel message -->
          <div class="vocal-message-input text-black-50 fs-3 pe-5">
            <i class="fa-solid fa-microphone"></i>
          </div>
        </div>    
      </div>
    </div>
  </div>
</body>
</html>